body {
    background-color: lightgray;
}

main {
    height: 100vh;
    position: relative;
    color: #555;
}

div.form-wrapper {
    background-color: white;
    width: 500px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 0 10px gray;;
}

label {
    margin-top: 110px;
}

h1 {
    text-align: center;
    margin: 15px 0;
}