*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: lightgray;
    color: #555;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    padding: 30px 30px 40px 30px;
}

#categoria{
    margin-top: 20px;
}

#div1{
    height: 400px;
    display: inline-block;
    border-style: none none solid none;
    border-color: rgba(117, 117, 117, 0.299);
    border-width: 1px;
}

#desc{
    width: 38%;
    height: 400px;
    display: inline-block;
}

#img{
    width: 30%;
    height: 400px;
    object-fit: contain;
    margin:0 ;
    display: inline-block;
    
}

#codigo{
    display: none;
}

#prec{
    height: 400px;
    text-align: center;
    width:  30%;
    display: inline-block;
    transform: translatey(-100px);
}

#inf{
    font-weight: bold;
}

li{
    margin-top: 15px;
    
}

.btn{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 50px;
    color: #fff;
    padding: 8px 30px;
    border-radius: 8px;
    transition: background 0.5s;
    margin-top: 5px;
    font-weight: bold;
    border: none;
}

#divEndereco{
    display: inline-block;
}

.end{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}

button{
    background-color: rgba(32, 32, 255, 0.85);
    margin-top: 60px;
}

button:hover {
        background-color: rgba(0, 0, 118, 0.85);
}

h2{
    font-weight: 100;
    margin: 10px 0 20px;
}

label{
    font-size: small;
}

input {
    width: 40%;
    height: 25px;
    padding-left: 5px;
    box-sizing: border-box;
    margin-top: 7px;
    border: solid 1px rgb(110, 110, 110);
    border-radius: 8px;
}

input:focus {
    border: solid 1px gray;
    box-shadow: 0 0 5px gray;
    outline: none;   
}


#contato{
    width: 200px;
}

#mensagem{
    width: 200px;
    margin-top: 20px;
}

#interesse{
    display: none;
}

#enviarInteresse{
    margin-top: 10px;
}

span{
    display: inline-block;
}


p{
    display: inline-block;
}
@media (max-width: 720px) {
    main {
        width: 80vw;
        height: 80vw;
    }
}