header {
  height: 100px;
  background-color: #A9A9A9;
  display: block;
  position: relative;
}

#header-button-logout {
  display: inline;
  float: right;
  margin-right: 10px;
  width: 100px;
  height: 48px;
  margin-top: 25px;
  background: rgb(195, 86, 53);
  border-radius: 10px;
  border: 0;
  padding: 0 16px;
  color: #fafafa;
  transition: background-color 0.2s;


}


#header-logo {
  display: inline;
  margin-left: 64px;
  margin-top: 12px;
}

#header-user {
  float: right;
}

.container {
  margin-top: 64px;
}

footer {
  display: block;
  background-color: #A9A9A9;
  width: 100%;
  text-align: center;
}

footer p {
  padding: 24px 0;
}