<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detalhesAnuncio.css">
    <title>Anuncio</title>
</head>
<body>
    <main>
        <h1 id="titulo"></h1>
        <span id="codigo"></span>

        <div id="div1">
            <div id="img">
                <img  id="imagem" alt="imagem" width="300px">
            </div>
     
             <div id="desc">
                 <span id="inf">Descricao sobre o produto: </span>
                 <p id="descricao"></p>
                 
                 <p id="categoria"></p>
             </div>
             

             <div id="prec"> 
                <h2 id="preco"></h2>
                <button onclick="btnInteresse()" class="btn" id="tenhoInteresse">Tenho Interesse</button>
    
                 <div id="interesse">
                    <form action="/controller/salvarInteresse.php?codigo" method="post">
    
                        <div>
                            <span id="inf">Anunciante: </span>
                            <p id="anunciante"></p>
                        </div>
    
                        <div>
                            <label for="contato" id="contatoLabel">Contato: </label>
                            <input id="contato" name="contato" type="text" required>
                        </div>
    
                        <div>
                            <label for="mensagem" id="mensagemLabel">Mensagem: </label>
                            <textarea id="mensagem" name="mensagem" rows="2" cols="50" maxlength="200"></textarea>
                        </div>
                        <input type="hidden" name="idAnuncio" id="idAnuncio">
    
                       <button class="btn" id="enviarInteresse">Enviar</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="divEndereco">
            <div class="end">
                <span id="inf">Cep: </span>
                <p id="cep"></p>
            </div>

            <div class="end">
                <span id="inf">Bairro: </span>
                <p id="bairro"></p>
            </div>

            <div class="end">
                <span id="inf">Cidade: </span>
                <p id="cidade"></p>
            </div class="end">

            <div class="end">
                <span id="inf">Estado: </span>
                <p id="estado"></p>
            </div>
        </div>
        
    </main>
<script src="/view/js/anuncioScript.js"></script>
</body>
</html>